{% extends 'base.html.twig' %}
{% block title%} Liste des admins{% endblock %}

{% block body %}
 <nav class="navbar navbar-expand-lg navbar-danger bg-danger">
            <div class="container">
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    
                </div>
            </div>
        </nav>
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Welcome to Everience!</h1>
                    
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="https://www.keejob.com/media/recruiter/recruiter_2046/logo-2046-20201202-075408.png.300x300_q85_crop-smart.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">August 11, 2022</div>
                            <h2 class="card-title">About Us</h2>
                            <p class="card-text">everience, entreprise internationale de conseil et de services, accompagne ses clients à chaque étape de la transformation digitale en apportant et en favorisant l'innovation pour gérer le parcours des collaborateurs.</p>
                            <div tabindex="-1"></div>
                            <a class="btn btn-danger" href="#!">Read more →</a>
                        </div>
                    </div>
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="https://media-exp1.licdn.com/dms/image/C560BAQFWZiJ7iK4FMA/company-logo_200_200/0/1624347886286?e=2147483647&v=beta&t=GAbD7Rp1mdnOXgfoOk2K78Kn5jT3GjqkCVGyd3sfR2o" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">January 1, 2022</div>
                                    <h2 class="card-title h4">Everience recrute Service Desk Analyst</h2>
                                    <p class="card-text">Everience Tunisia recrute

Service Desk Analyst

Missions:

-Vous assurez un accueil personnalisé de l’utilisateur, en déterminant son niveau de connaissance en informatique et le degré d’urgence de l’appel.

-Vous diagnostiquez l’incident rencontré afin de comprendre l’origine du problème,.</p>
                                    <a class="btn btn-danger" href="#!">Read more →</a>
                                </div>
                            </div>
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="https://media-exp1.licdn.com/dms/image/C560BAQFWZiJ7iK4FMA/company-logo_200_200/0/1624347886286?e=2147483647&v=beta&t=GAbD7Rp1mdnOXgfoOk2K78Kn5jT3GjqkCVGyd3sfR2o" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">January 1, 2022</div>
                                    <h2 class="card-title h4">Responsable Recrutement</h2>
                                    <p class="card-text">Intégré(e) au Service des Ressources Humaines everience TUNISIA, vous serez Responsable Recrutement

Missions :

Pilotage du process Recrutement

Gestion de l'équipe Recrutement et tenir des KPI de suivi.</p>
                                    <a class="btn btn-danger" href="#!">Read more →</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="https://media-exp1.licdn.com/dms/image/C560BAQFWZiJ7iK4FMA/company-logo_200_200/0/1624347886286?e=2147483647&v=beta&t=GAbD7Rp1mdnOXgfoOk2K78Kn5jT3GjqkCVGyd3sfR2o" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">January 1, 2022</div>
                                    <h2 class="card-title h4">Service Desk analyst H/F</h2>
                                    <p class="card-text">Et si vous choisissez plus qu’un job ? Vous avez la
possibilité d’entamer un parcours dans le domaine IT, Notre cœur de métier est
le support informatique. On vous offre :

Des Parcours qui vous inspirent

Des Formations certifiantes

Et Une entreprise Responsable qui s’engage,</p>
                                    <a class="btn btn-danger" href="#!">Read more →</a>
                                </div>
                            </div>
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="https://media-exp1.licdn.com/dms/image/C560BAQFWZiJ7iK4FMA/company-logo_200_200/0/1624347886286?e=2147483647&v=beta&t=GAbD7Rp1mdnOXgfoOk2K78Kn5jT3GjqkCVGyd3sfR2o" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">January 1, 2022</div>
                                    <h2 class="card-title h4">Production Supervisor H/F</h2>
                                    <p class="card-text">Directement rattaché au Delivery Manager, vous aurez en charge la gestion opérationnelle d’une équipe de techniciens HelpDesk en vous assurant du respect des procédures et des engagements.</p>
                                    <a class="btn btn-danger" href="#!">Read more →</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Pagination-->
                    <nav aria-label="Pagination">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                            <li class="page-item"><a class="page-link" href="#!">2</a></li>
                            <li class="page-item"><a class="page-link" href="#!">3</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                            <li class="page-item"><a class="page-link" href="#!">15</a></li>
                            <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control form-control-sm" type="search" placeholder="" aria-controls="example" />
                                <button class="dataTables_filter" id="example_filter" type="button">Go!</button>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">Web Design</a></li>
                                        <li><a href="#!">HTML</a></li>
                                        <li><a href="#!">Freebies</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">JavaScript</a></li>
                                        <li><a href="#!">CSS</a></li>
                                        <li><a href="#!">Tutorials</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Side Widget</div>
                        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}